:root {
    --primary: #265B8B;
    --pewter: #ECECEB;
    --turqouise: #84C7F2;
    --violet: #7391C8;
    --margin-top: 1rem;
}


/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

/* GLOBAL */

.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


/* CUSTOM STYLES */

.header {
    background-color: var(--primary);
    color: #fff;
    padding: 20px;
    text-align: center;
}

main.main {
    /* margin-left: 15px;
    margin-right: 15px; */
    background-color: #ECECEB;
    height: 180vh;
    /* height 100vh on main pushes footer to bottom of page */
}

.hero {
    background-image: url(../images/white-clouds.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;

}

h4.message {
    padding-top: 1rem;
}

.top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}

.search-form {
    margin-top: 1rem;
}

input.city-search {
    padding: 5px;
    margin-top: 10px;
    width: 180px;
}

.search-history {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.today  > * {
    margin: var(--margin-top);
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    color: white;
    margin-top: 5px;
    background-color: var(--violet);
    border-radius: 3px;
    border: .5px solid;
    padding: 7px;
    width: 180px;
}

.display-weather {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

section .forecast-card > *:not(:last-child){
    margin-bottom: 20px;
}

.forecast-card {
    margin-left:0px;
    margin-top: var(--margin-top);
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 20px 40px 20px 40px;
    
}





footer {
    display: flex;
    /* justify-content: end; */
    background-color: var(--primary);
    color: #fff;
    padding: 20px;
}


@media (max-width: 800px) {
    .hero {
        height: 27rem;
    }

    .top {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    button {
        flex-direction: row;
    }

    .today {
        margin: 0px;
    }

    .search-form {
        align-items:center;
    }

    .display-weather {
        grid-template-columns: 1fr 1fr 1fr;
    }



}