:root {
    --primary: #192070;
    --margin-top: 1rem;
}


/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

/* REUSEABLE */

.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


/* CUSTOM STYLES */

.header {
    background-color: var(--primary);
    color: #fff;
    padding: 20px;
    text-align: center;
}

main.main {
    margin-left: 15px;
    margin-right: 15px;
    height: 130vh;
    /* height 100vh on main pushes footer to bottom of page */
}

h4.message {
    text-align: center;
    margin: var(--margin-top)
}

.top {
    display: grid;
    grid-template-columns: 1.2fr 3fr;

}

.search-form {
    margin-top: 1rem;
}

input.city-search {
    padding: 5px;
    margin-top: 10px;
}


.s-btn {
    font-size: 12px;
    background-color: #5098E6;
    border-radius: 3px;
    border: none;
    color: white;
    margin-top: 10px;
    padding: 7px;
    width: 150px;
}

.search-history {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.today {
    margin: var(--margin-top)
}


.display-weather {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

section .forecast-card > *:not(:last-child){
    margin-bottom: 25px;
}

.forecast-card {
    margin-left:0px;
    margin-top: var(--margin-top);
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 20px 40px 20px 40px;
    
}





footer {
    display: flex;
    /* justify-content: end; */
    background-color: var(--primary);
    color: #fff;
    padding: 20px;
}


@media (max-width: 800px) {
    .top {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .today {
        margin-left: 0px;
    }

    .search-form {
        align-items:center;
    }

}