/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* REUSEABLE */
.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


/* CUSTOM STYLES */

.weather-header {
    background-color: #192070;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main.main {
    /* display: grid;
    grid-template-columns: 1fr, 1fr, 1fr; */
    margin-left: 15px;
    margin-right: 15px;
}

h4 {
    text-align: center;
    margin-top: 1rem;
}

.search-form {
    margin-top: 2rem;
    /* grid-column: 1 / 2; */
}

input.city-search{
    padding: 5px;
    margin-top: 10px;
}


.s-btn {
    font-size: 12px;
    background-color: #5098E6;
    border-radius: 3px;
    border: none;
    color: white;
    margin-top: 10px;
    padding: 7px;
    width: 150px;
}

.search-history {
    margin-top: 1rem;
}